<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-800 flex items-center justify-center flex-col min-h-screen">
    <h1 class="text-5xl font-bold text-green-500 my-5">Editar Atividade</h1>

    <div id="containerEditarAtividade" class="bg-gray-900 my-10 w-full max-w-lg py-8 px-10 border border-green-500 rounded-lg shadow-xl">
        <form action="/atualizarAtividade/{{codAtividade}}" method="POST">
            <div class="flex flex-col mb-5">
                <label for="nomeAtividade" class="text-2xl font-bold text-green-300">Nome da Atividade</label>
                <input type="text" name="nomeAtividade" id="nomeAtividade" class="border border-green-500 rounded-lg p-2 bg-gray-800 text-white focus:outline-none focus:ring focus:ring-green-300" value="{{atividade['nomeAtividade']}}" required>
            </div>
            <div class="flex flex-col mb-5">
                <label for="descricaoAtividade" class="text-2xl font-bold text-green-300">Descrição da Atividade</label>
                <textarea name="descricaoAtividade" id="descricaoAtividade" class="border border-green-500 rounded-lg p-2 bg-gray-800 text-white focus:outline-none focus:ring focus:ring-green-300" required>{{atividade['descricaoAtividade']}}</textarea>
            </div>
            <div class="flex flex-col mb-5">
                <label for="dataAtividade" class="text-2xl font-bold text-green-300">Data de Entrega</label>
                <input type="date" name="dataAtividade" id="dataAtividade" class="border border-green-500 rounded-lg p-2 bg-gray-800 text-white focus:outline-none focus:ring focus:ring-green-300" value="{{atividade['dataAtividade']}}" required>
            </div>
            <div class="flex flex-col mb-5">
                <label for="pesoAtividade" class="text-2xl font-bold text-green-300">Peso da Atividade</label>
                <input type="number" name="pesoAtividade" id="pesoAtividade" class="border border-green-500 rounded-lg p-2 bg-gray-800 text-white focus:outline-none focus:ring focus:ring-green-300" value="{{atividade['pesoAtividade']}}" required>
            </div>
            <div class="flex justify-center mt-5">
                <button type="submit"
                    class="bg-green-600 hover:bg-green-500 px-4 py-2 rounded-lg text-white font-bold transition duration-200 transform hover:scale-105">Atualizar</button>
            </div>
        </form>
    </div>
</body>

</html>